<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <title>SFPOCDND</title>
        <style>
            html,body {
                margin: 0;
                height: 100%;
                width: 100%;
                font-family: Poppins,sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                color: rgba(4, 11, 14, 0.6);
                text-align: left;
                background-color: #ececf1;
            }

            #root {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
         <!-- Display a message if JS has been disabled on the browser. -->
        <noscript>
            If you're seeing this message, that means <strong>JavaScript has been disabled on your browser</strong>, please<strong> enable JS</strong> to make this app work.
        </noscript>
        <div id="root"></div>
    </body>
</html>